/*****************************************    GENERAL    *********************************************/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: post-font;
  src: url(/fonts/Posterama\ 2001\ Regular.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-family: "Helvetica", "post-font", "Courier New", Courier, monospace;
}

html body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/******************************************    SCROLLBAR    ******************************************/

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #2d1950;
}
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

/******************************************    BODY    ******************************************/

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100svh;
}

.hidden {
  display: none;
}

/******************************************    BUTTONS    ******************************************/

.home-button {
  background: linear-gradient(to left, #a200ff, #5d2bff, #3498db) !important;
}
.home-button:hover {
  background: linear-gradient(to left, #8300d0, #4b14ff, #1b6fa8) !important;
}

/******************************************    HR SEPERATOR    ******************************************/

hr {
  border-color: rgb(140, 0, 255);
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-seven:before {
  border-color: rgb(140, 0, 255);
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

/******************************************    CARDS    ******************************************/

.glow-effect {
  width: 200px;
  height: 200px;
  background-color: rgb(134, 5, 209);
  border-radius: 50%;
}

.projectCard {
  content: "";
  inset: 0;
  position: relative;
}
.certificateCard {
  content: "";
  inset: 0;
  position: relative;
}

.projectCardDarkModeAnimation {
  animation: pulseDarkMode 2s infinite ease;
}
.projectCardLightModeAnimation {
  animation: pulseLightMode 2s infinite ease;
}
.certificateCardDarkModeAnimation {
  animation: pulseDarkMode 2s infinite ease;
}
.certificateCardLightModeAnimation {
  animation: pulseLightMode 2s infinite ease;
}

@keyframes pulseDarkMode {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.4);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes pulseLightMode {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(217, 0, 255, 0.4);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.projectCard.projectImageLoaded {
  content: none;
  animation: none;
}

.certificateCard.certificateImageLoaded {
  content: none;
  animation: none;
}

img {
  object-position: center;
  object-fit: cover;
}
