/*****************************************    GENERAL    *********************************************/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-family: "Courier New", Courier, monospace;
}

@font-face {
  font-family: post-font;
  src: url(/fonts/Posterama\ 2001\ Regular.otf);
}

@font-face {
  font-family: great-font;
  src: url(/fonts/GreatVibes-Regular.ttf);
}
#root {
  width: 100%;
}
html body {
  width: 100%;
}
/******************************************    SCROLLBAR    ******************************************/

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #2d1950;
}

::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100svh;
}

.hidden {
  display: none;
}
